@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Patrick+Hand&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 2px;
}

/* NAVBAR */

.navbar {
    background-color: #C083B9;
    width: 100%;
    height: 85px;
}

.navbar_logotipo {
    text-align: center;
    padding: 5px;
}

/* -------------------------------------------------------------------------------- */


/* HEADER */

.container-header {
    display: flex;
    width: 100%;
    height: 100%;
    background: url(/img/backgroud_header_01.jpg);
}

@media (min-width: 370px) and (max-width: 400px) {
    .container-header {
        display: grid;
        width: 100%;
        height: 100%;
        background: url(/img/backgroud_header_01.jpg);
    }
}

.box-header--text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 40px;

}

@media (min-width: 370px) and (max-width: 400px) {
    .box-header--text {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 60px 0px 32px 40px;
        gap: 22px;
        justify-content: center;

    }
}

.container-header--text {
    color: #fff;
    font-size: 30pt;
    padding: 78px 29px;
    text-align: left;
}

@media (min-width: 370px) and (max-width: 400px) {
    .container-header--text {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0 40px;


    }
}

/* --- BOTAO --- */
.container-header-button {
    width: 123px;
    height: 60px;
    background-color: #7F479B;
    color: #fff;
    border-radius: 11px;
    margin: 0px 90px;
    cursor: pointer;
    border: none;
}

.box-header--img {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 150px 0 100px 0;
}

@media (min-width: 370px) and (max-width: 400px) {
    .box-header--img {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0;

    }


}

.container-header--img {
    width: 90%;
    height: 380px;
    margin-left: 20px;

}

@media (min-width: 370px) and (max-width: 400px) {
    .container-header--img {
        width: 376px;
        height: 226px;
        margin-left: 0;

    }
}


/*********** HEADER   *********/

/* SECAO Maravilhosa */
.container-section{
    background-color: #FAD8E5;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box-text--paragraph{
    margin: 30px;
    color: #462755;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 20pt;
}
.photo-perfil{
    border-radius: 50%;
    width: 197px;
    height: 191px;
    margin: 50px 532px;
    image-rendering: -webkit-optimize-contrast;
}
.box-section--title{
    color: #EA4C89;
    font-size: 40px;
    text-align: center;
    font-family: 'Lobster', cursive;
    padding-top: 40px;
}
.box-section--history{
    color: #EA4C89;
    font-size: 40px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    padding-top: 40px;
}
.box-section--text{
    margin: 42px;
    margin: 30px;
    color: #462755;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}
.box-section--list{
    margin: 42px;
    margin: 30px;
    color: #462755;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}


/* AUTORA */



/* SECAO Recado */



/* FOOTER */
/* FOOTER */


.footer {
    background: #EA4C89;
    color: #F3F3F3;
    
  }
  
  .footer__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 10px 60px;
    font-size: 1.4rem;
    padding: 30px;
  }
  
  .footer__links {
    display: block;
    text-align: center;
    list-style: none;
  }
  
  .footer__facebook {
    display: flex;
  }
  
  .img-fb {
    width: 20px;
  }
  
  .footer_cc {
    background: #5B5E5E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  

/* MEDIA QUERY */